[user]
	name = Matheus Lima
	email = matheusml90@gmail.com
  username = matheusml

[core]
	editor = nano

[alias]
	lg = log --pretty='%Cred%h%Creset | %C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(cyan)[%an]%Creset' --graph
